# Dubizzle used car sales data

In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns",100)

from sklearn.model_selection import train_test_split

import tensorflow as tf

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam
from sklearn.metrics import mean_squared_error,r2_score

from sklearn.metrics import r2_score, mean_squared_error,mean_absolute_error
from sklearn.linear_model import LinearRegression, ElasticNet, Ridge, Lasso
from sklearn.tree import ExtraTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from xgboost import XGBRegressor

from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()

import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv("data.csv") #https://www.kaggle.com/datasets/alihassankp/dubizzle-used-car-sale-data

### EDA

In [3]:
df

,title,price_in_aed,kilometers,body_condition,mechanical_condition,seller_type,body_type,no_of_cylinders,transmission_type,regional_specs,horsepower,fuel_type,steering_side,year,color,emirate,motors_trim,company,model,date_posted
0,MITSUBISHI PAJERO 3.5L / 2013,"26,000",167390,Perfect inside and out,Perfect inside and out,Dealer,SUV,6,Automatic Transmission,GCC Specs,Unknown,Gasoline,Left Hand Side,2013.0,Silver,Dubai,GLS,mitsubishi,pajero,13/05/2022
1,chevrolet silverado,"110,000",39000,Perfect inside and out,Perfect inside and out,Dealer,SUV,8,Automatic Transmission,North American Specs,400 - 500 HP,Gasoline,Left Hand Side,2018.0,White,Sharjah,1500 High Country,chevrolet,silverado,14/01/2022
2,MERCEDES-BENZ E300 - 2014 - GCC SPEC - FULL OP...,"78,000",200000,Perfect inside and out,Perfect inside and out,Dealer,Sedan,6,Automatic Transmission,GCC Specs,400 - 500 HP,Gasoline,Left Hand Side,2014.0,Blue,Sharjah,E 300,mercedes-benz,e-class,05/05/2022
3,WARRANTY UNTIL APR 2023 || Ferrari 488 Spider ...,"899,000",27000,Perfect inside and out,Perfect inside and out,Dealer,Hard Top Convertible,8,Automatic Transmission,GCC Specs,600 - 700 HP,Gasoline,Left Hand Side,2018.0,Red,Dubai,Standard,ferrari,488-spider,30/04/2022
4,USED RENAULT DOKKER 2020,"33,000",69000,Perfect inside and out,Perfect inside and out,Owner,Wagon,4,Manual Transmission,GCC Specs,Less than 150 HP,Gasoline,Left Hand Side,2020.0,White,Dubai,Standard,renault,dokker,13/05/2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9965,AED7525month | 2015 Land Rover Range Rover Aut...,"215,000",105777,Perfect inside and out,Perfect inside and out,Dealer,SUV,8,Automatic Transmission,GCC Specs,500 - 600 HP,Gasoline,Left Hand Side,2015.0,White,Dubai,Autobiography,land-rover,range-rover,18/11/2021
9966,LOW MILEAGE Cadillac Escalade Platinum,"90,000",55640,Perfect inside and out,Perfect inside and out,Owner,SUV,8,Automatic Transmission,GCC Specs,400 - 500 HP,Gasoline,Left Hand Side,2014.0,White,Dubai,Platinum,cadillac,escalade,11/05/2022
9967,WARRANTY AVAILABLE || Range Rover Sport SVR Ca...,"679,000",100,Perfect inside and out,Perfect inside and out,Dealer,SUV,8,Automatic Transmission,Other,400 - 500 HP,Gasoline,Left Hand Side,NaN,Black,Dubai,SVR,land-rover,range-rover-sport,14/12/2021
9968,Chevrolet Malibu GCC Spec,"18,900",140000,"No accidents, very few faults",Perfect inside and out,Owner,Sedan,4,Automatic Transmission,GCC Specs,150 - 200 HP,Gasoline,Left Hand Side,2013.0,White,Dubai,LS,chevrolet,malibu,06/03/2022
9969,LOW MILEAGE! PERFECT CONDITION! Jeep Wrangler ...,"77,700",86000,Perfect inside and out,Perfect inside and out,Dealer,Crossover,6,Manual Transmission,GCC Specs,200 - 300 HP,Gasoline,Left Hand Side,2013.0,Orange,Dubai,Sahara,jeep,wrangler,04/12/2021

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9970 entries, 0 to 9969
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 9965 non-null   object
 1   price_in_aed          9970 non-null   object
 2   kilometers            9970 non-null   int64
 3   body_condition        9970 non-null   object
 4   mechanical_condition  9970 non-null   object
 5   seller_type           9970 non-null   object
 6   body_type             9970 non-null   object
 7   no_of_cylinders       9911 non-null   object
 8   transmission_type     9970 non-null   object
 9   regional_specs        9970 non-null   object
 10  horsepower            9970 non-null   object
 11  fuel_type             9970 non-null   object
 12  steering_side         9970 non-null   object
 13  year                  9000 non-null   float64
 14  color                 9970 non-null   object
 15  emirate               9970 non-null   object
 16  motors_trim           9942 non-null   object
 17  company               9970 non-null   object
 18  model                 9970 non-null   object
 19  date_posted           9970 non-null   object
dtypes: float64(1), int64(1), object(18)
memory usage: 1.5+ MB

In [5]:
df.isnull().sum() #We examine the empty lines.

title                     5
price_in_aed              0
kilometers                0
body_condition            0
mechanical_condition      0
seller_type               0
body_type                 0
no_of_cylinders          59
transmission_type         0
regional_specs            0
horsepower                0
fuel_type                 0
steering_side             0
year                    970
color                     0
emirate                   0
motors_trim              28
company                   0
model                     0
date_posted               0
dtype: int64

### Feature Engineering

In [6]:
df["no_of_cylinders"].value_counts()

6          3325
4          2993
8          2986
12          366
Unknown      57
3            56
10           53
5            53
None         22
Name: no_of_cylinders, dtype: int64

In [7]:
df=df[df['no_of_cylinders']!="Unknown"]
df=df[df['no_of_cylinders']!="None"]
#We delete the Unknown and None values in no_of_cylinders.
df['no_of_cylinders'].fillna(6,inplace=True) #We fill the empty datas with 6.
df['no_of_cylinders']=df['no_of_cylinders'].astype(int) #We change the data type to integer.

In [8]:
df["price_in_aed"]=df.price_in_aed.str.replace(',','') #We delete the commas in price_in_aed.
df['price_in_aed']=df['price_in_aed'].astype(int)

In [9]:
df["motors_trim"].value_counts()

Other                2130
Standard              429
SE                    232
S                     227
G 63 AMG              197
                     ...
XLE Plus                1
1500 2LT                1
Prestige Plus LWB       1
Limited + EL            1
2500HD LTZ              1
Name: motors_trim, Length: 855, dtype: int64

In [10]:
df['motors_trim'].fillna("Other",inplace=True) #We fill the empty datas in motors_trim with Other.

In [11]:
df["body_condition"].value_counts()

Perfect inside and out                9537
No accidents, very few faults          205
A bit of wear & tear, all repaired     118
Normal wear & tear, a few issues        31
Name: body_condition, dtype: int64

In [12]:
df["body_condition"]=df["body_condition"].map({"Perfect inside and out":0,"No accidents, very few faults":1,"A bit of wear & tear, all repaired":2,"Normal wear & tear, a few issues":3})
#We replace the data in body_condition with 0, 1, 2 and 3.
df['body_condition']=df['body_condition'].astype(int)

In [13]:
df["mechanical_condition"].value_counts()

Perfect inside and out              9745
Minor faults, all fixed              134
Major faults fixed, small remain       8
Ongoing minor & major faults           3
Major faults, all fixed                1
Name: mechanical_condition, dtype: int64

In [14]:
df["mechanical_condition"]=df["mechanical_condition"].map({"Minor faults, all fixed":0,"Major faults, all fixed":4,"Perfect inside and out":1,"Major faults fixed, small remain":2,"Ongoing minor & major faults":3})
df['mechanical_condition']=df['mechanical_condition'].astype(int)

In [15]:
df["seller_type"].value_counts()

Dealer                            6709
Owner                             2915
Dealership/Certified Pre-Owned     267
Name: seller_type, dtype: int64

In [16]:
df["seller_type"]=df["seller_type"].map({"Dealer":0,"Owner":1,"Dealership/Certified Pre-Owned":2})
df['seller_type']=df['seller_type'].astype(int)

In [17]:
df["body_type"].value_counts()

SUV                     4550
Sedan                   2726
Coupe                    845
Pick Up Truck            421
Hatchback                337
Sports Car               257
Hard Top Convertible     161
Van                      161
Soft Top Convertible     142
Crossover                107
Other                     97
Wagon                     66
Utility Truck             21
Name: body_type, dtype: int64

In [18]:
df["body_type"]=df["body_type"].map({"SUV":0,"Sedan":1,"Coupe":2,"Pick Up Truck":3,"Hatchback":4,"Sports Car":5,"Hard Top Convertible":6,"Van":7,"Soft Top Convertible":8,"Crossover":9,"Other":10,"Wagon":11,"Utility Truck":12})
df['body_type']=df['body_type'].astype(int)

In [19]:
df["transmission_type"].value_counts()

Automatic Transmission    9510
Manual Transmission        381
Name: transmission_type, dtype: int64

In [20]:
df["transmission_type"]=df["transmission_type"].map({"Automatic Transmission":0,"Manual Transmission":1})
df['transmission_type']=df['transmission_type'].astype(int)

In [21]:
df["regional_specs"].value_counts()

GCC Specs               7556
North American Specs    1144
Other                    526
European Specs           418
Japanese Specs           247
Name: regional_specs, dtype: int64

In [22]:
df["regional_specs"]=df["regional_specs"].map({"GCC Specs":0,"North American Specs":1,"Other":2,"European Specs":3,"Japanese Specs":4})
df['regional_specs']=df['regional_specs'].astype(int)

In [23]:
df["horsepower"].value_counts()

200 - 300 HP        2427
300 - 400 HP        2200
400 - 500 HP        1274
150 - 200 HP        1222
500 - 600 HP        1025
Unknown              768
600 - 700 HP         391
Less than 150 HP     387
700 - 800 HP         148
800 - 900 HP          30
900+ HP               19
Name: horsepower, dtype: int64

In [24]:
df=df[df['horsepower']!="Unknown"]
df["horsepower"]=df["horsepower"].map({"200 - 300 HP":0,"300 - 400 HP":1,"400 - 500 HP":2,"150 - 200 HP":3,"600 - 700 HP":4,"Less than 150 HP":5,"700 - 800 HP":6,"800 - 900 HP":7,"900+ HP":8,"500 - 600 HP":9})
df['horsepower']=df['horsepower'].astype(int)

In [25]:
df["fuel_type"].value_counts()

Gasoline    8925
Diesel       138
Electric      42
Hybrid        18
Name: fuel_type, dtype: int64

In [26]:
df["fuel_type"]=df["fuel_type"].map({"Gasoline":0,"Diesel":1,"Electric":2,"Hybrid":3})
df['fuel_type']=df['fuel_type'].astype(int)

In [27]:
df["steering_side"].value_counts()

Left Hand Side     9121
Right Hand Side       2
Name: steering_side, dtype: int64

In [28]:
df["steering_side"]=df["steering_side"].map({"Left Hand Side":0,"Right Hand Side":1})
df['steering_side']=df['steering_side'].astype(int)

In [29]:
df["color"].value_counts()

White          3039
Black          1922
Grey           1231
Silver          767
Blue            664
Red             555
Gold            227
Brown           218
Green           133
Orange           72
Beige            68
Yellow           68
Other Color      65
Burgundy         60
Purple           23
Teal              7
Tan               4
Name: color, dtype: int64

In [30]:
df["color"]=df["color"].map({"White":0,"Black":1,"Grey":2,"Silver":3,"Blue":4,"Red":5,"Gold":6,"Brown":7,"Green":8,"Orange":9,"Yellow":10,"Other Color":11,"Burgundy":12,"Purple":13,"Teal":14,"Tan":15,"Beige":16})
df['color']=df['color'].astype(int)

In [31]:
df['title'].fillna("None",inplace=True)
df=df.dropna() #We delete rows containing empty data.
df['year']=df['year'].astype(int)

In [32]:
df["emirate"]=df.emirate.str.replace(' ','')
df["emirate"].value_counts()

Dubai           6690
Sharjah          714
AbuDhabi         634
Ajman            126
AlAin             26
RasAlKhaimah      15
UmmAlQawain        6
Fujeirah           5
Name: emirate, dtype: int64

In [33]:
df["emirate"]=df["emirate"].map({"Dubai":0,"Sharjah":1,"AbuDhabi":2,"Ajman":3,"AlAin":4,"RasAlKhaimah":5,"UmmAlQawain":6,"Fujeirah":7})
df['emirate']=df['emirate'].astype(int)

In [34]:
df["model"].value_counts()

patrol               339
s-class              217
range-rover-sport    173
c-class              167
e-class              157
                    ...
xk8                    1
lc-500                 1
pacifica               1
gs7                    1
odyssey-j              1
Name: model, Length: 518, dtype: int64

In [35]:
df["date_posted"]=pd.to_datetime(df["date_posted"])
df["day_posted"]=(df["date_posted"]).dt.day
df["month_posted"]=(df["date_posted"]).dt.month
df["year_posted"]=(df["date_posted"]).dt.year
df['day_posted']=df['day_posted'].astype(int)
df['month_posted']=df['month_posted'].astype(int)
df['month_posted']=df['month_posted'].astype(int)
del df["date_posted"]
df=df.reset_index()
del df["index"]
#We divide date_posted into day, month, year and time.

In [36]:
abs(df.corr()["price_in_aed"].sort_values(ascending=False)) #We look at their correlations.

price_in_aed            1.000000
no_of_cylinders         0.407235
horsepower              0.359233
year                    0.245268
regional_specs          0.179753
fuel_type               0.085201
body_type               0.083673
color                   0.070246
mechanical_condition    0.031142
day_posted              0.026800
steering_side           0.001606
kilometers              0.022247
transmission_type       0.031873
month_posted            0.031949
body_condition          0.055376
year_posted             0.055423
emirate                 0.094863
seller_type             0.104317
Name: price_in_aed, dtype: float64

### Regression

In [37]:
x,y=df.drop(["title","price_in_aed"],axis=1),df[["price_in_aed"]]
x.shape

(8216, 20)

In [38]:
x=pd.get_dummies(x,drop_first=True)
x=scaler.fit_transform(x)

In [39]:
def algo_test(x,y):
    L = LinearRegression()
    E = ElasticNet()
    R = Ridge()
    Lass = Lasso()
    ETR=ExtraTreeRegressor()
    GBR=GradientBoostingRegressor()
    XGBC= XGBRegressor()
    x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=13)
    algos = [L,E,R,Lass,ETR,GBR,XGBC]
    algo_names = ['Linear','ElasticNet','Ridge','Lasso','Extra Tree','Gradient Boosting','XGradientBooting']
    r_squared = []
    rmse = []
    mae = []
    result = pd.DataFrame(columns = ['R_Squared','RMSE','MAE'],index = algo_names)
    for algo in algos:
        algo.fit(x_train,y_train)    
        r_squared.append(r2_score(y_test,algo.predict(x_test)))
        rmse.append(mean_squared_error(y_test, algo.predict(x_test))**.5)
        mae.append(mean_absolute_error(y_test, algo.predict(x_test)))
    result.R_Squared = r_squared
    result.RMSE = rmse
    result.MAE= mae
    return result.sort_values('R_Squared', ascending=False)

In [40]:
algo_test(x,y)

                      R_Squared          RMSE           MAE
XGradientBooting   9.055256e-01  1.177717e+05  4.364382e+04
Gradient Boosting  8.676934e-01  1.393718e+05  6.399299e+04
Lasso              8.314037e-01  1.573288e+05  6.826429e+04
Extra Tree         8.269879e-01  1.593758e+05  5.119681e+04
Ridge              8.050559e-01  1.691761e+05  7.364734e+04
ElasticNet         1.351360e-01  3.563346e+05  1.741829e+05
Linear            -2.935072e+23  2.075838e+17  3.589110e+16

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.20,random_state=42)

In [69]:
model=Sequential()
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(480,activation="relu"))
model.add(Dense(1))
model.compile(optimizer="adam",loss="mse")

In [70]:
model.fit(x_train,y_train,validation_data=(x_test,y_test),batch_size=128,epochs=150)
model.summary()

Epoch 1/150
52/52 [==============================] - 3s 23ms/step - loss: 153922404352.0000 - val_loss: 59139915776.0000
Epoch 2/150
52/52 [==============================] - 1s 20ms/step - loss: 83313967104.0000 - val_loss: 124536193024.0000
Epoch 3/150
52/52 [==============================] - 1s 20ms/step - loss: 83409436672.0000 - val_loss: 44523196416.0000
Epoch 4/150
52/52 [==============================] - 1s 20ms/step - loss: 74499989504.0000 - val_loss: 40298733568.0000
Epoch 5/150
52/52 [==============================] - 1s 20ms/step - loss: 90781278208.0000 - val_loss: 48781557760.0000
Epoch 6/150
52/52 [==============================] - 1s 19ms/step - loss: 55405592576.0000 - val_loss: 31395960832.0000
Epoch 7/150
52/52 [==============================] - 1s 20ms/step - loss: 50062012416.0000 - val_loss: 58328932352.0000
Epoch 8/150
52/52 [==============================] - 1s 20ms/step - loss: 39294398464.0000 - val_loss: 51495440384.0000
Epoch 9/150
52/52 [==============================] - 1s 20ms/step - loss: 33516421120.0000 - val_loss: 30722242560.0000
Epoch 10/150
52/52 [==============================] - 1s 20ms/step - loss: 28438155264.0000 - val_loss: 67612725248.0000
Epoch 11/150
52/52 [==============================] - 1s 20ms/step - loss: 46595944448.0000 - val_loss: 37253730304.0000
Epoch 12/150
52/52 [==============================] - 1s 20ms/step - loss: 25091448832.0000 - val_loss: 87963475968.0000
Epoch 13/150
52/52 [==============================] - 1s 20ms/step - loss: 21354043392.0000 - val_loss: 29517561856.0000
Epoch 14/150
52/52 [==============================] - 1s 20ms/step - loss: 29732460544.0000 - val_loss: 30512447488.0000
Epoch 15/150
52/52 [==============================] - 1s 20ms/step - loss: 21478572032.0000 - val_loss: 39106265088.0000
Epoch 16/150
52/52 [==============================] - 1s 20ms/step - loss: 20455458816.0000 - val_loss: 37865545728.0000
Epoch 17/150
52/52 [==============================] - 1s 20ms/step - loss: 119845445632.0000 - val_loss: 141517602816.0000
Epoch 18/150
52/52 [==============================] - 1s 20ms/step - loss: 62100406272.0000 - val_loss: 31280443392.0000
Epoch 19/150
52/52 [==============================] - 1s 20ms/step - loss: 19133399040.0000 - val_loss: 51927330816.0000
Epoch 20/150
52/52 [==============================] - 1s 20ms/step - loss: 41277579264.0000 - val_loss: 36807479296.0000
Epoch 21/150
52/52 [==============================] - 1s 20ms/step - loss: 15256339456.0000 - val_loss: 31551174656.0000
Epoch 22/150
52/52 [==============================] - 1s 20ms/step - loss: 17814302720.0000 - val_loss: 32612583424.0000
Epoch 23/150
52/52 [==============================] - 1s 19ms/step - loss: 18388338688.0000 - val_loss: 29890725888.0000
Epoch 24/150
52/52 [==============================] - 1s 20ms/step - loss: 12134312960.0000 - val_loss: 35922423808.0000
Epoch 25/150
52/52 [==============================] - 1s 20ms/step - loss: 16325576704.0000 - val_loss: 26994167808.0000
Epoch 26/150
52/52 [==============================] - 1s 20ms/step - loss: 12535543808.0000 - val_loss: 32664662016.0000
Epoch 27/150
52/52 [==============================] - 1s 21ms/step - loss: 9178559488.0000 - val_loss: 28437014528.0000
Epoch 28/150
52/52 [==============================] - 1s 21ms/step - loss: 8892883968.0000 - val_loss: 42604347392.0000
Epoch 29/150
52/52 [==============================] - 1s 21ms/step - loss: 9644084224.0000 - val_loss: 29093097472.0000
Epoch 30/150
52/52 [==============================] - 1s 21ms/step - loss: 8452102656.0000 - val_loss: 25225232384.0000
Epoch 31/150
52/52 [==============================] - 1s 21ms/step - loss: 8597675008.0000 - val_loss: 29984335872.0000
Epoch 32/150
52/52 [==============================] - 1s 21ms/step - loss: 8329154048.0000 - val_loss: 30154647552.0000
Epoch 33/150
52/52 [==============================] - 1s 21ms/step - loss: 10404209664.0000 - val_loss: 23664562176.0000
Epoch 34/150
52/52 [==============================] - 1s 21ms/step - loss: 11871072256.0000 - val_loss: 33427988480.0000
Epoch 35/150
52/52 [==============================] - 1s 21ms/step - loss: 71816380416.0000 - val_loss: 32091940864.0000
Epoch 36/150
52/52 [==============================] - 1s 21ms/step - loss: 33594214400.0000 - val_loss: 23954948096.0000
Epoch 37/150
52/52 [==============================] - 1s 21ms/step - loss: 12143321088.0000 - val_loss: 33137276928.0000
Epoch 38/150
52/52 [==============================] - 1s 21ms/step - loss: 10536201216.0000 - val_loss: 28813697024.0000
Epoch 39/150
52/52 [==============================] - 1s 21ms/step - loss: 10365506560.0000 - val_loss: 29083967488.0000
Epoch 40/150
52/52 [==============================] - 1s 21ms/step - loss: 7810568192.0000 - val_loss: 28857569280.0000
Epoch 41/150
52/52 [==============================] - 1s 21ms/step - loss: 6854924288.0000 - val_loss: 39372832768.0000
Epoch 42/150
52/52 [==============================] - 1s 21ms/step - loss: 7483305472.0000 - val_loss: 32802127872.0000
Epoch 43/150
52/52 [==============================] - 1s 21ms/step - loss: 8110750208.0000 - val_loss: 33990428672.0000
Epoch 44/150
52/52 [==============================] - 1s 21ms/step - loss: 6871509504.0000 - val_loss: 24905285632.0000
Epoch 45/150
52/52 [==============================] - 1s 21ms/step - loss: 15294411776.0000 - val_loss: 31645792256.0000
Epoch 46/150
52/52 [==============================] - 1s 21ms/step - loss: 26437584896.0000 - val_loss: 41335205888.0000
Epoch 47/150
52/52 [==============================] - 1s 21ms/step - loss: 13173075968.0000 - val_loss: 27700547584.0000
Epoch 48/150
52/52 [==============================] - 1s 21ms/step - loss: 12779357184.0000 - val_loss: 40184958976.0000
Epoch 49/150
52/52 [==============================] - 1s 22ms/step - loss: 17262811136.0000 - val_loss: 23062464512.0000
Epoch 50/150
52/52 [==============================] - 1s 21ms/step - loss: 9199087616.0000 - val_loss: 36200255488.0000
Epoch 51/150
52/52 [==============================] - 1s 21ms/step - loss: 8102445568.0000 - val_loss: 23632691200.0000
Epoch 52/150
52/52 [==============================] - 1s 21ms/step - loss: 15598703616.0000 - val_loss: 28796088320.0000
Epoch 53/150
52/52 [==============================] - 1s 21ms/step - loss: 8319264768.0000 - val_loss: 31925551104.0000
Epoch 54/150
52/52 [==============================] - 1s 21ms/step - loss: 11265622016.0000 - val_loss: 34931617792.0000
Epoch 55/150
52/52 [==============================] - 1s 21ms/step - loss: 31151816704.0000 - val_loss: 30652297216.0000
Epoch 56/150
52/52 [==============================] - 1s 21ms/step - loss: 22176417792.0000 - val_loss: 26554116096.0000
Epoch 57/150
52/52 [==============================] - 1s 21ms/step - loss: 8325204992.0000 - val_loss: 27326007296.0000
Epoch 58/150
52/52 [==============================] - 1s 21ms/step - loss: 6581611520.0000 - val_loss: 24598841344.0000
Epoch 59/150
52/52 [==============================] - 1s 21ms/step - loss: 6607400448.0000 - val_loss: 30441220096.0000
Epoch 60/150
52/52 [==============================] - 1s 21ms/step - loss: 5428350464.0000 - val_loss: 27324528640.0000
Epoch 61/150
52/52 [==============================] - 1s 21ms/step - loss: 4888081408.0000 - val_loss: 24976465920.0000
Epoch 62/150
52/52 [==============================] - 1s 21ms/step - loss: 4957912576.0000 - val_loss: 26892130304.0000
Epoch 63/150
52/52 [==============================] - 1s 21ms/step - loss: 4643631616.0000 - val_loss: 24515817472.0000
Epoch 64/150
52/52 [==============================] - 1s 21ms/step - loss: 6114226688.0000 - val_loss: 34284777472.0000
Epoch 65/150
52/52 [==============================] - 1s 21ms/step - loss: 5132191232.0000 - val_loss: 28452831232.0000
Epoch 66/150
52/52 [==============================] - 1s 21ms/step - loss: 5616305664.0000 - val_loss: 33629296640.0000
Epoch 67/150
52/52 [==============================] - 1s 21ms/step - loss: 10470695936.0000 - val_loss: 24871903232.0000
Epoch 68/150
52/52 [==============================] - 1s 21ms/step - loss: 37764808704.0000 - val_loss: 23148111872.0000

Epoch 69/150
52/52 [==============================] - 1s 21ms/step - loss: 16342697984.0000 - val_loss: 29563709440.0000
Epoch 70/150
52/52 [==============================] - 1s 21ms/step - loss: 19624249344.0000 - val_loss: 23786340352.0000
Epoch 71/150
52/52 [==============================] - 1s 21ms/step - loss: 15482127360.0000 - val_loss: 26616666112.0000
Epoch 72/150
52/52 [==============================] - 1s 21ms/step - loss: 11547396096.0000 - val_loss: 25634093056.0000
Epoch 73/150
52/52 [==============================] - 1s 21ms/step - loss: 8125218816.0000 - val_loss: 24647974912.0000
Epoch 74/150
52/52 [==============================] - 1s 21ms/step - loss: 5919152128.0000 - val_loss: 25364422656.0000
Epoch 75/150
52/52 [==============================] - 1s 21ms/step - loss: 7991752704.0000 - val_loss: 23937579008.0000
Epoch 76/150
52/52 [==============================] - 1s 21ms/step - loss: 11151923200.0000 - val_loss: 27037810688.0000
Epoch 77/150
52/52 [==============================] - 1s 20ms/step - loss: 14638710784.0000 - val_loss: 33669128192.0000
Epoch 78/150
52/52 [==============================] - 1s 21ms/step - loss: 7494390272.0000 - val_loss: 34895065088.0000
Epoch 79/150
52/52 [==============================] - 1s 21ms/step - loss: 8774198272.0000 - val_loss: 25447591936.0000
Epoch 80/150
52/52 [==============================] - 1s 21ms/step - loss: 5728334848.0000 - val_loss: 30560780288.0000
Epoch 81/150
52/52 [==============================] - 1s 21ms/step - loss: 6358809088.0000 - val_loss: 22255904768.0000
Epoch 82/150
52/52 [==============================] - 1s 21ms/step - loss: 6647176704.0000 - val_loss: 39538171904.0000
Epoch 83/150
52/52 [==============================] - 1s 21ms/step - loss: 10025747456.0000 - val_loss: 25276643328.0000
Epoch 84/150
52/52 [==============================] - 1s 21ms/step - loss: 7069262848.0000 - val_loss: 29839624192.0000
Epoch 85/150
52/52 [==============================] - 1s 21ms/step - loss: 5651040256.0000 - val_loss: 24087738368.0000
Epoch 86/150
52/52 [==============================] - 1s 21ms/step - loss: 3799888128.0000 - val_loss: 25684041728.0000
Epoch 87/150
52/52 [==============================] - 1s 21ms/step - loss: 3617972480.0000 - val_loss: 29424322560.0000
Epoch 88/150
52/52 [==============================] - 1s 21ms/step - loss: 3747172864.0000 - val_loss: 26930253824.0000
Epoch 89/150
52/52 [==============================] - 1s 21ms/step - loss: 4040569856.0000 - val_loss: 27271624704.0000
Epoch 90/150
52/52 [==============================] - 1s 21ms/step - loss: 3424756480.0000 - val_loss: 26297059328.0000
Epoch 91/150
52/52 [==============================] - 1s 21ms/step - loss: 35816947712.0000 - val_loss: 28954486784.0000
Epoch 92/150
52/52 [==============================] - 1s 21ms/step - loss: 5798184448.0000 - val_loss: 24209778688.0000
Epoch 93/150
52/52 [==============================] - 1s 21ms/step - loss: 4042804224.0000 - val_loss: 25158641664.0000
Epoch 94/150
52/52 [==============================] - 1s 21ms/step - loss: 7483797504.0000 - val_loss: 36229447680.0000
Epoch 95/150
52/52 [==============================] - 1s 21ms/step - loss: 4040314880.0000 - val_loss: 30411411456.0000
Epoch 96/150
52/52 [==============================] - 1s 21ms/step - loss: 4965504000.0000 - val_loss: 26320961536.0000
Epoch 97/150
52/52 [==============================] - 1s 21ms/step - loss: 3964929792.0000 - val_loss: 25721831424.0000
Epoch 98/150
52/52 [==============================] - 1s 21ms/step - loss: 3443219712.0000 - val_loss: 30703503360.0000
Epoch 99/150
52/52 [==============================] - 1s 21ms/step - loss: 3435910912.0000 - val_loss: 24399525888.0000
Epoch 100/150
52/52 [==============================] - 1s 21ms/step - loss: 4636764672.0000 - val_loss: 24855724032.0000
Epoch 101/150
52/52 [==============================] - 1s 21ms/step - loss: 3853246208.0000 - val_loss: 24854917120.0000
Epoch 102/150
52/52 [==============================] - 1s 21ms/step - loss: 4626566144.0000 - val_loss: 27436957696.0000
Epoch 103/150
52/52 [==============================] - 1s 21ms/step - loss: 3857695488.0000 - val_loss: 24825952256.0000
Epoch 104/150
52/52 [==============================] - 1s 21ms/step - loss: 6234174976.0000 - val_loss: 27984322560.0000
Epoch 105/150
52/52 [==============================] - 1s 22ms/step - loss: 4455521280.0000 - val_loss: 25201547264.0000
Epoch 106/150
52/52 [==============================] - 1s 21ms/step - loss: 10173752320.0000 - val_loss: 38332723200.0000
Epoch 107/150
52/52 [==============================] - 1s 21ms/step - loss: 7792878592.0000 - val_loss: 24958627840.0000
Epoch 108/150
52/52 [==============================] - 1s 21ms/step - loss: 6260089856.0000 - val_loss: 24128333824.0000
Epoch 109/150
52/52 [==============================] - 1s 21ms/step - loss: 4173447680.0000 - val_loss: 26075207680.0000
Epoch 110/150
52/52 [==============================] - 1s 21ms/step - loss: 8084578816.0000 - val_loss: 30465531904.0000
Epoch 111/150
52/52 [==============================] - 1s 21ms/step - loss: 6436557824.0000 - val_loss: 31584440320.0000
Epoch 112/150
52/52 [==============================] - 1s 21ms/step - loss: 11207744512.0000 - val_loss: 29645711360.0000
Epoch 113/150
52/52 [==============================] - 1s 21ms/step - loss: 7245134336.0000 - val_loss: 76802580480.0000
Epoch 114/150
52/52 [==============================] - 1s 21ms/step - loss: 17952276480.0000 - val_loss: 37328187392.0000
Epoch 115/150
52/52 [==============================] - 1s 21ms/step - loss: 17199087616.0000 - val_loss: 77769891840.0000
Epoch 116/150
52/52 [==============================] - 1s 21ms/step - loss: 44305874944.0000 - val_loss: 43434094592.0000
Epoch 117/150
52/52 [==============================] - 1s 21ms/step - loss: 6154850816.0000 - val_loss: 26923862016.0000
Epoch 118/150
52/52 [==============================] - 1s 21ms/step - loss: 3782930432.0000 - val_loss: 28459960320.0000
Epoch 119/150
52/52 [==============================] - 1s 21ms/step - loss: 4871862272.0000 - val_loss: 30756530176.0000
Epoch 120/150
52/52 [==============================] - 1s 21ms/step - loss: 6559672320.0000 - val_loss: 26726965248.0000
Epoch 121/150
52/52 [==============================] - 1s 21ms/step - loss: 2568659456.0000 - val_loss: 25737404416.0000
Epoch 122/150
52/52 [==============================] - 1s 21ms/step - loss: 2452636928.0000 - val_loss: 26240094208.0000
Epoch 123/150
52/52 [==============================] - 1s 21ms/step - loss: 2364102912.0000 - val_loss: 26695041024.0000
Epoch 124/150
52/52 [==============================] - 1s 21ms/step - loss: 2225360128.0000 - val_loss: 28026208256.0000
Epoch 125/150
52/52 [==============================] - 1s 21ms/step - loss: 2287545600.0000 - val_loss: 24303087616.0000
Epoch 126/150
52/52 [==============================] - 1s 21ms/step - loss: 2425217792.0000 - val_loss: 27030587392.0000
Epoch 127/150
52/52 [==============================] - 1s 21ms/step - loss: 8730066944.0000 - val_loss: 27367100416.0000
Epoch 128/150
52/52 [==============================] - 1s 21ms/step - loss: 5853845504.0000 - val_loss: 26100813824.0000
Epoch 129/150
52/52 [==============================] - 1s 21ms/step - loss: 4661506048.0000 - val_loss: 26366576640.0000
Epoch 130/150
52/52 [==============================] - 1s 21ms/step - loss: 2644153088.0000 - val_loss: 28869904384.0000
Epoch 131/150
52/52 [==============================] - 1s 21ms/step - loss: 2559886848.0000 - val_loss: 28458661888.0000
Epoch 132/150
52/52 [==============================] - 1s 21ms/step - loss: 2162723328.0000 - val_loss: 24748584960.0000
Epoch 133/150
52/52 [==============================] - 1s 21ms/step - loss: 3460145408.0000 - val_loss: 24896264192.0000
Epoch 134/150
52/52 [==============================] - 1s 21ms/step - loss: 3933946368.0000 - val_loss: 28476104704.0000
Epoch 135/150
52/52 [==============================] - 1s 21ms/step - loss: 3537886208.0000 - val_loss: 25985277952.0000
Epoch 136/150
52/52 [==============================] - 1s 21ms/step - loss: 4873501184.0000 - val_loss: 40003289088.0000

Epoch 137/150
52/52 [==============================] - 1s 21ms/step - loss: 8875980800.0000 - val_loss: 27941642240.0000
Epoch 138/150
52/52 [==============================] - 1s 21ms/step - loss: 4530452992.0000 - val_loss: 28846436352.0000
Epoch 139/150
52/52 [==============================] - 1s 21ms/step - loss: 2223518720.0000 - val_loss: 23886553088.0000
Epoch 140/150
52/52 [==============================] - 1s 21ms/step - loss: 1943375744.0000 - val_loss: 26943350784.0000
Epoch 141/150
52/52 [==============================] - 1s 21ms/step - loss: 1713904512.0000 - val_loss: 26282600448.0000
Epoch 142/150
52/52 [==============================] - 1s 21ms/step - loss: 1700322816.0000 - val_loss: 27859099648.0000
Epoch 143/150
52/52 [==============================] - 1s 21ms/step - loss: 1689756928.0000 - val_loss: 24917522432.0000
Epoch 144/150
52/52 [==============================] - 1s 21ms/step - loss: 1534380800.0000 - val_loss: 26498930688.0000
Epoch 145/150
52/52 [==============================] - 1s 21ms/step - loss: 1950041472.0000 - val_loss: 23510112256.0000
Epoch 146/150
52/52 [==============================] - 1s 21ms/step - loss: 1984573184.0000 - val_loss: 22963566592.0000
Epoch 147/150
52/52 [==============================] - 1s 21ms/step - loss: 3495428352.0000 - val_loss: 27418714112.0000
Epoch 148/150
52/52 [==============================] - 1s 21ms/step - loss: 3332065536.0000 - val_loss: 31318028288.0000
Epoch 149/150
52/52 [==============================] - 1s 21ms/step - loss: 10158234624.0000 - val_loss: 26241867776.0000
Epoch 150/150
52/52 [==============================] - 1s 21ms/step - loss: 5272807424.0000 - val_loss: 26735726592.0000
Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_66 (Dense)            (None, 480)               676320

 dense_67 (Dense)            (None, 480)               230880

 dense_68 (Dense)            (None, 480)               230880

 dense_69 (Dense)            (None, 480)               230880

 dense_70 (Dense)            (None, 480)               230880

 dense_71 (Dense)            (None, 480)               230880

 dense_72 (Dense)            (None, 480)               230880

 dense_73 (Dense)            (None, 480)               230880

 dense_74 (Dense)            (None, 480)               230880

 dense_75 (Dense)            (None, 480)               230880

 dense_76 (Dense)            (None, 1)                 481

=================================================================
Total params: 2,754,721
Trainable params: 2,754,721
Non-trainable params: 0
_________________________________________________________________

In [71]:
tahmin=model.predict(x_test)

52/52 [==============================] - 0s 4ms/step

In [72]:
r2_score(tahmin,y_test)

0.8196356851066517

In [73]:
(mean_squared_error(tahmin,y_test))**0.5

163510.62620024834